body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.box{
    position: absolute;
    top: 30%;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 300px;
    height: auto;
    background-color: #2dbe9f;
    border-radius: 15px;
    padding: 0 20px;
}
h1{
    color: white;
    text-decoration: underline;
}
input{
    width: 73%;
    height: 1.2rem;
    box-sizing: none;
}

button{
    height: 1.6rem;
    box-sizing: border-box;
    border: 1px solid #2dbe4f;
    font-size: 0.9rem;
    border-radius: 3px;
}

li{
    font-size: 1.3rem;
    width: 100%;
    position: relative;
    left: -10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}